rainoffire.ru {
# localhost {
  @publicAssets {
    path *.woff *.woff2 *.ttf *.jpg *.jpeg *.png *.gif *.ico *.webp *.svg
  }
  @publicCssJs {
    path *.css *.js
  }

  root * /srv

  encode gzip
  header @publicAssets Cache-Control "public, max-age=2419200"
  header @publicCssJs Cache-Control "public, max-age=31536000, immutable"

  route {
    file_server {
      pass_thru
    }
    reverse_proxy {$APP_HOST}:{$APP_PORT}
    # reverse_proxy {$APP_HOST}:{$APP_PORT} {$APP_HOST2}:{$APP_PORT} {$APP_HOST3}:{$APP_PORT}
  }
}
